* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* INÍCIO DO MEU CABEÇALHO */
header {
    padding: 70px;
    background-color: rgb(78, 135, 168);
}

.menu-header {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.menu-header > li > a {
    text-decoration: none;
    color: white;
}

.menu-header > li > a:hover{
    color: rgb(81, 81, 228); /*Habilitando uma cor ao passar o mouse*/
    transition: 0.8s; /*Adicionamos aqui uma transição*/
}

.menu-header > li {
    margin-left: 20px;
}
/* FINAL DO MEU CABEÇALHO */

#secao {
    padding: 250px;
    background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%); /*Uma cor com Degradê*/
}


#secao h1 {
    font-size: 45px; /*Tamanho da letra*/
    color: rgba(0, 0, 0, 0.712); /*Cor da letra */
}

#sessao > p { /*Alterando nosso Paragráfo dentro da nossa primeira ID*/
    font-size: 40px; /*Tamanho da letra*/
    margin: 20px 0;
}

#secao > a > button { /*Chamamos nosso Button que está dentro dessa primeira sessão*/
    padding: 20px; /*Tamanho do preenchimento interno do botão*/
    border-radius: 50px; /*Borda arredondada do botão*/
    width: 300px; /*Tamanho lateral do botão (largura) */
    cursor: pointer;
    border-color: rgb(19, 153, 108); /*Cor da borda*/
    margin: 5px; /*Margem em volta do Button*/
}

#app {
    padding: 250px;
    background-color: rgb(226, 233, 233); /*cor de fundo*/
    display: flex;
    justify-content: space-around;
}

#app a button {

    padding: 20px; /*Tamanho do preenchimento interno do botão*/
    border-radius: 50px; /*Borda arredondada do botão*/
    width: 300px; /*Tamanho lateral do botão (largura) */
    cursor: pointer;
    border-color: rgb(19, 153, 108); /*Cor da borda*/
    margin: 5px; /*Margem em volta do Button*/
}

#app div p{ /*Chamamos nosso Parágrafo para estilização*/
    font-size: 43px; /*Alteração do tamanho da letra*/
}

#app div img {
    /*Imagem que está dentro da nossa segunda Section*/
    width: 500px; /*Lagura da nossa img*/
    height: 500px; /*Altura da nossa img*/
    margin-left: 50px; /*Margem a Esquerda*/
    margin-top: -70px; /*Margem a superio*/
}

#container {
    padding: 250px;
    background-color: rgb(226, 233, 233); /*cor de fundo*/
}

#container h2 { /*Chamamos nosso H2 para estilização*/
    font-size: 40px; /*Tamanho da letra*/
    margin-top: -20rem; /*Margem superior - 2rem = 16px*/
    color: rgb(34, 34, 74); /*Cor da letra*/
    text-align: center; /*Alinhamento do texto ao centro*/
}

#container p { /*Chamamos nosso Parágrafo para estilização*/
    font-size: 20px; /*Tamanho da letra*/
    margin-top: 30px; /*Margem superior*/
    color: rgba(0, 0, 0, 0.564); /*Cor da letra*/
    text-align: justify; /*Aqui justificamos o texto*/
}

#container a button{
    padding: 20px; /*Tamanho do preenchimento interno do botão*/
    border-radius: 50px; /*Borda arredondada do botão*/
    width: 300px; /*Tamanho lateral do botão (largura) */
    cursor: pointer;
    border-color: rgb(20, 20, 20); /*Cor da borda*/
    margin-top: 60px; /*Margem em volta do Button*/
    margin-bottom: 60px;
    background-color: blue;
    color: white;
}

.line { /*Class usada para nossa Tag HR*/
    margin: 20px auto; /*Margem superior e inferior 20px e laterais automaticas*/
    width: 70%; /*Tamanho da linha*/
}

#container img { /*Imagem dentro da nossa Terceira section*/
    margin-left: 12rem; /*Margem a esquerda*/
    margin-top: 30px; /*Margem superior*/
    width: 40rem; /*Largura da imagem*/
}

#container-cofre {
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(imagens/img\ cofre\ fundo.jpg);
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#container-cofre img { /*Chamamos nossa IMG para estilização*/
    width: 25rem; /*Largura da img*/
    margin-top: 10rem; /*Margem superior*/
    margin-bottom: 5rem;
    height: auto;
    flex-wrap: wrap; /*Usado para informar que os itens podem quebrar em telas menores*/
}

#container-cofre h2 { /*Chamamos nossa TAG H2 para estilização*/
    
    color: white; /*Cor da letra*/
    font-size: 30px; /*Tamanho da letra*/
    text-align: center;
}

#container-cofre p { /*Nossa Tag de parágrafo para estilização*/
    color: white; /*Cor da letra*/
    font-size: 17px; /*Tamanho da letra*/
    text-align: center;
    margin-top: 2rem; /*margem superior*/
}

footer {
    padding: 50px;
    background-color: rgb(29, 28, 28); /*Cor de fundo*/
    text-align: center;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.footer-div p {
    color: rgba(233, 222, 222, 0.523);
}

.footer-div a {
    text-decoration: none;
    color: white;
}

.footer-div a:hover {
    color: crimson;
    transition: 0.5s;
}